<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">
  <!-- For more information on MicrosoftGame.config elements,
       please refer to online GDK documentation found at https://aka.ms/GDK_MSGC
       or the MicrosoftGame.config topic in the System section of the offline GDK documentation. -->

  <Identity Name="0bfd1e00-c91d-4059-9817-108df05ab1d3"
            Publisher="CN=Xbox Advanced Technology Group"
            Version="1.0.0.0"/>

  <ExecutableList>
    <Executable Name="DirectXTKModelViewer_xs.exe"
                TargetDeviceFamily="Scarlett"
	              Id="Game"/>
    <Executable Name="DirectXTKModelViewer_x.exe"
                TargetDeviceFamily="XboxOne"
	              Id="Game"/>
  </ExecutableList>

  <ShellVisuals DefaultDisplayName="DirectXTKModelViewer (DirectX 12 GX)"
                PublisherDisplayName="Xbox Advanced Technology Group"
                Square150x150Logo="Logo.png"
                Square44x44Logo="SmallLogo.png"
                Description="DirectXTKModelViewer_GDK_2017"
                ForegroundText="light"
                BackgroundColor="#464646"
                SplashScreenImage="SplashScreen.png"
                StoreLogo="StoreLogo.png"/>
</Game>